.container-main-order-success {
  display: flex;
  flex:1;
  flex-direction: row;
  width: 100%;

  .content-left {
    width: 50%;

    .text-faca-pedido {
      color: #263238;
      font-size: 3.5rem;
      font-weight: bold;
    }    

    .back-home {
      background: transparent !important;
      color: $primaryColor !important;
    }

    .p-button {
      border: 2px solid $primaryColor;
    }

    .text-escolha {
      color: #9E9E9E;
      font-size: 1.3rem;
    }
  }

  .content-right {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      width: 70%;
    }
  }
}
