.container-main {
  display: flex;
  flex:1;
  flex-direction: row;
  width: 100%;

  .content-left {
    width: 50%;

     .text-faca-pedido {
    color: #263238;
    font-size: 3.5rem;
    font-weight: bold;
    
    
  }

  .text-escolha {
    color: #9E9E9E;
    font-size: 1.3rem;
  }
    
  }

  .content-right {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      width: 70%;
    }
  }

}