.options-content {
  display: flex;
  flex-direction: column;

  .category-text {
      color: #FF5371;
      font-size: 2rem;
      font-weight: bold;
    }

  .follow-steps-container {
    display: flex;

    .steps {
      display: flex;
      flex-direction: column;

      .step-container {
        display: flex;
        font-size: 1.1rem;
        color: #9E9E9E;

        &:first-child {
          margin-bottom: 12px;
        }

        &> p:first-child {
          color: #FF5371;
          font-weight: bold;
          margin-right: 12px;
        }
      }
    }
  }

  .filters {
    display: flex;
    align-items: center;

    .input-text-container {
      margin-left: 20px;
    }
  }

  .options {
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex: 1;
  }

  .autocomplete-google-container {
    width: 100%;
    height: 100%;
  }

  .search-location {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    color: #808080;

    width: 320px;

    span {
      margin-bottom: 5px;
    }

    .p-inputtext {
      color: #808080;
      background: transparent;
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }

    .p-button {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
  }

  .google-maps-container {
    position: relative;
    width: 100%;
    padding: 10px;
    height: 400px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .estimative-container {
    position: absolute;
    bottom: 10px;
    width: 280px;
    height: 80px;
    background: #fff;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;

    span {
      color: #808080
    }

    span:first-of-type {
      margin-bottom: 5px;
    }
  }

}